<div{{ attributes.defaults({class: 'row'}) }}>
    {% for activity in computed.activities %}
        <div class="col-12">
            <article class="{% if not loop.last %}border-bottom mb-4 pb-4{% endif %}">
                <div class="mb-2">
                    <p class="small mb-0">{{ activity.createdAt|date('d/m/Y') }}</p>
                    <p class="fw-semibold">{{ activity.message }}</p>
                </div>
                <p>{{ activity.context|join(' ') }}</p>
            </article>
        </div>
    {% else %}
        <p>Aucune activité sur votre profil</p>
    {% endfor %}
</div>
