@use 'sass:list';

/* GENERAL */
$border-radius: 0;

/* TYPO */
$font-family-base: "Poppins";
$paragraph-margin-bottom: 0.25rem;

p:last-of-type {
  margin-bottom: 0;
}

/* FORM */
$focus-ring-width: 0.125rem;

$form-label-margin-bottom: 0.125rem;
$form-label-font-size: 0.925rem;
$form-label-font-weight: 600;

/* COLOR */
$primary: #593196;
$secondary: #a991d4;
$success: #13b955;
$info: #009cdc;
$warning: #efa31d;
$danger: #fc3939;
$light: #f9f8fc;
$dark: #17141f;
$body-color: #4f4f4f;
$border-color: #ededed;

/* NAVBAR */
$navbar-padding-y: 1.5rem;

/* CARD */
$card-spacer-y: 1.75rem;
$card-spacer-x: 1.75rem;
$card-border-color: $border-color;

/* TOAST */
$toast-border-width: 0;

/* LIST */
$list-group-border-width: 0;

/* TURBO */
.turbo-progress-bar {
    height: 5px;
    background-color: $primary;
    box-shadow: 0 0 10px rgba($primary, 0.7);
    transition: width 0.3s ease; /* Animation fluide */
}

/* MODAL */
$modal-content-border-radius: 0;
$modal-content-border-width: 0;

/* BADGE */
$badge-padding-y: .75em;
$badge-padding-x: 1em;

/* SPACERS */
@import "../../vendor/twbs/bootstrap/scss/functions";
@import "../../vendor/twbs/bootstrap/scss/variables";

// Ajouter des valeurs personnalisées
$custom-spacers: (
  6: $spacer * 4,
  7: $spacer * 5,
);

// Fusionner avec $spacers
$spacers: map-merge($spacers, $custom-spacers);

@import '../../vendor/twbs/bootstrap/scss/bootstrap';

.icon {
  width: 36px;
  height: 36px;
}

.icon-pagination {
  width: 15px;
  height: 21px;
}

.icon-sm {
  width: 24px;
  height: 24px;
}