<div{{ attributes.defaults({class: 'collapse', id: id}) }} data-bs-parent="#accordion">
    <div class="card card-body mt-4 d-inline-block" style="width: 250px">
        {% block content %}{% endblock %}
    </div>
</div>
