<div{{ attributes.defaults({class: 'collapse', id: id}) }} data-bs-parent="#accordion">
    <div class="card card-body mt-2 d-inline-block" style="width: 300px">
        {% block content %}{% endblock %}
    </div>
</div>
