<div {{ attributes.defaults({class: 'border-bottom py-5 py-lg-6 py-xxl-7 mb-5'}) }} >
    <header>
        <div class="container">
            <h1 class="mb-0 h2 fw-bold text-uppercase">{{ title }}</h1>
        </div>
    </header>

    <div>
        {% block content %}{% endblock %}
    </div>
</div>
