<div{{ attributes.defaults({ class: 'mt-5' }) }}>
    <h3 class="h6 mb-2 fw-semibold">Etiquettes ( {{ computed.labels|length }} )</h3>

    <div class="d-flex flex-wrap gap-1 gap-md-2 align-items-center">
        <span 
            class="badge bg-primary bg-opacity-10 text-primary cursor-pointer" 
            data-bs-toggle="modal" 
            data-bs-target="#labelAdd">
            <twig:ux:icon name="tabler:plus" style="height: 10px; width: auto"/>
        </span>
        {% for label in computed.labels %}
            <twig:LabelSingle label="{{ label }}" />
        {% endfor %}
    </div>

    <twig:ModalComponent title="Ajouter un label" id="labelAdd">
        <twig:block name="body">
            <twig:LabelFormComponent project="{{ project }}"/>
        </twig:block>
    </twig:ModalComponent>
</div>
