<div{{ attributes }}>
    <section class="container">

        {# <input type="search" data-model="query" placeholder="Rechercher..."> #}

        <div class="row g-2">
            {% for project in this.projects %}
            <div class="col-12">
                <article class="card card-body">
                    <h2 class="h6">{{ project.name }}</h2>
                    <p>{{ project.description }}</p>
                    <p class="mb-0">
                        <a href="{{ path('project.show', {id: project.id}) }}">Consulter</a>
                    </p>
                </article>
            </div>
            {% endfor %}
        </div>
    </section>
</div>
