{% extends 'base.html.twig' %}

{% block title %}Mes projets{% endblock %}

{% block body %}
<section>

    <twig:HeaderPage title="Mes projets"></twig:HeaderPage>

    <twig:ListProjects />
</section>
{% endblock %}
